@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: 'Roboto Condensed', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
   font-weight: bold;
   background-color: #fef9f2;
}
.panel-container {
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
   border-radius: 4px;
   font-size: 90%;
   font-weight: 900;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px;
   max-width: 400px;
   text-align: center;
   max-width: 400px;
}
.panel-container strong {
   line-height: 20px;
}
.ratings-container {
   display: flex;
   margin: 20px 0;
}
.rating {
   flex: 1;
   cursor: pointer;
   padding: 20px;
   margin: 10px 5px;
}
.rating:hover, .rating.active {
   border-radius: 14px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2)
}
.rating img {
   width: 60px;
}
.rating small {
   color: #444;
   display: inline-block;
   font-weight: 900;
   margin: 10px 0 0;
}
.rating:hover small, .rating.active small {
   color: #111;
}
.btn {
   background-color: #302d2b;
   color: #fff;
   font-weight: 900;
   border-radius: 10px;
   cursor: pointer;
   border: 0;
   padding: 12px 30px;
}
.btn:focus {
   outline: 0;
}
.btn:active {
   transform: scale(0.98);
}
.fa-heart {
   color: red;
   font-size: 30px;
   font-weight: 900;
   margin-bottom: 10px;
}